.reg_container {
  width: 80vw;
  height: fit-content;
  margin: 0;
  padding: 8.8vh 8.5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--bg-color-white);
}

.title_h1 {
  margin: 0;
  margin-bottom: 3.53vh;
  padding: 0;
  text-align: center;
  font-size: 2.5em;
  color: var(--text-color-black);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.form_container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.form {
  width: 40vw;
  position: relative;
}

.title_h2 {
  margin: 0;
  margin-bottom: 3.53vh;
  padding: 0;
  font-size: 1.8em;
  color: var(--color-gray);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.box_input {
  width: 40vw;
  height: 23vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 7vh;
}

.form input {
  width: 40vw;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-gray);
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--color-gray);
  font-weight: 600;
}

.form input[name="name"],
.form input[name="age"] {
  width: 17vw;
}

.form input::placeholder {
  background-color: transparent;
  color: var(--color-gray);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.form input:-webkit-autofill,
.form input:-webkit-autofill:hover,
.form input:-webkit-autofill:focus,
.form input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--color-gray);
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 174, 255, 0.04) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0.03) 100%
  );
}

.box_showPassword {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
}

.btn_eye[type="button"] {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--color-gray);
}

.eye {
  width: 1.5em;
  height: 1.5em;
  fill: var(--color-gray);
}

.box_btn {
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.box_btn button {
  width: 17vw;
  height: 4.4vh;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 2.2vh;
  font-size: 1.4em;
  line-height: 4.4vh;
  background-image: linear-gradient(to top, var(--color-yellow), var(--color-dark-yellow));
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-align: center;
  transition: all 0.2s ease-in;
}

.box_btn button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.box_btn button[type="button"]::after {
  content: "Назад";
  position: relative;
  width: 17vw;
  height: 4.4vh;
  top: -4.4vh;
  left: 0;
  border: 1px solid var(--color-gray);
  border-radius: 2.2vh;
  background: var(--color-white);
  color: var(--color-gray);
  opacity: 1;
  transition: all 0.2s ease-in;
}

.box_btn button[type="button"]:hover::after {
  opacity: 0;
}

.error {
  position: absolute;
  width: 40vw;
  color: #ff3561;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  margin-top: 0.2vw;
}

.error_name {
  composes: error;
  width: 17vw;
}

.error_age {
  composes: error;
  width: 17vw;
}

/* SMALL DESCTOP */
@media (max-width: 1979px) {
  .title_h1 {
    font-size: 2.2em;
  }

  .title_h2 {
    font-size: 1.584em;
  }

  .form input {
    font-size: 1.056em;
    line-height: 1.32em;
  }

  .box_btn button {
    font-size: 1.232em;
  }

  .error {
    font-size: 0.792em;
  }
}

/* TABLET */
@media (max-width: 1279px) {
  .reg_container {
    width: 100vw;
    padding: 6vh 4vw;
  }

  .form {
    width: 60vw;
  }

  .box_input {
    width: 60vw;
    height: 30vh;
  }

  .form input {
    width: 60vw;
  }

  .form input[name="name"],
  .form input[name="age"] {
    width: 26vw;
  }

  .eye {
    width: 1.8em;
    height: 1.8em;
  }

  .box_btn {
    width: 60vw;
  }

  .box_btn button {
    width: 26vw;
    height: 5.4vh;
    border-radius: 2.7vh;
    line-height: 5.4vh;
  }

  .box_btn button[type="button"]::after {
    width: 26vw;
    height: 5.4vh;
    border-radius: 2.7vh;
    top: -5.4vh;
  }

  .error {
    width: 60vw;
    font-size: 0.9em;
    margin-top: 0.2vw;
  }

  .error_name {
    composes: error;
    width: 26vw;
  }

  .error_age {
    composes: error;
    width: 26vw;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  .reg_container {
    width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 0;
  }

  .logo {
    width: 150px;
    min-height: 26px;
    margin-bottom: 20px;
  }

  .title_h1 {
    font-size: 1.2em;
  }

  .form_container {
    width: 80vw;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }

  .form,
  .box_input {
    composes: form_container;
    margin-bottom: 30px;
  }

  .title_h2 {
    font-size: 1em;
  }

  .form input,
  .form input[name="name"],
  .form input[name="age"] {
    width: 80vw;
    font-size: 0.7em;
  }

  .eye {
    width: 1.2em;
    height: 1.2em;
  }

  .box_btn {
    width: 70vw;
    height: 17vh;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .box_btn button {
    width: 70vw;
    height: 7vh;
    border-radius: 3.5vh;
    line-height: 7vh;
    font-size: 1em;
  }

  .box_btn button[type="button"]::after {
    width: 70vw;
    height: 7vh;
    border-radius: 3.5vh;
    top: -6.9vh;
  }

  .error {
    width: 80vw;
    font-size: 0.7em;
  }

  .error_name {
    width: 80vw;
  }

  .error_age {
    width: 80vw;
  }

  .pos_static {
    max-width: 100vw;
    position: static;
    transform: none;
  }
}
