.userInfo {
  font-family: 'Monserrat';
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.colum {
  min-width: 110px;
}

.userName {
  text-align: center;
}

.userAge {
  text-align: center;
}

@media (max-width: 767px) {
  .userInfo {
    width: 180px;
  }

  .avatar {
    width: 30px;
    height: 30px;
  }
}
