.avatar_choose {
  width: 190px;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.user_avatar_big {
  width: 190px;
  height: 140px;
  align-self: center;
}

.avatar_txt {
  font-size: 14px;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-gray);
  font-weight: 600;
}

.avatar_little_div {
  width: 190px;
  height: 80px;
  display: flex;
  flex-flow: wrap;
  align-content: space-between;
  justify-content: space-between;
}

.user_avatar_small {
  max-width: 40px;
  max-height: auto;
  margin: 0;
  padding: 0;
  align-self: center;
}

.user_avatar_small:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
  translate: transform 0.4s ease-in;
}

.active {
  max-width: 40px;
  max-height: auto;
  outline: none;
  transform: scale(1.1, 1.1);
  translate: transform 0.4s ease-in;
  border: 1px solid darkgreen;
}
